# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
env/
lib/
libs/
dist/
build/
egg-info/
pip-wheel-metadata/

# Download files
download